:root {
    --primary-color: rgba(75, 2, 75);
    --secondary-color: rgb(15, 85, 78);
    --tertiary-color: rgb(170, 81, 122);
    --neutral: rgb(250, 245, 230);
    
}

/* remove default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* default text/background color / font */
body {
    color: var(--primary-color);
    background-image: radial-gradient(ellipse,  rgb(237, 221, 241), var(--neutral));
    font-family: Times, "Times New Roman", Georgia, serif;
    overflow-x: hidden;
}

/*background sphere*/
.circle {
    margin: 5rem 5rem;
    height: 30rem;
    width: 30rem;
    background: radial-gradient(circle, var(--neutral) 9%, var(--secondary-color) 90%);
    border-radius: 50%;
    position: fixed;
    z-index: -1;
    filter: grayscale(20%);
}

/* header and intro blurb */
/* parent of name/intro section + navigation links */
.front-page {
    display: flex;
    flex-direction: column;
}
/*parent for name (img) and .intro */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    background: none;
    padding: 80px 0;
}
/* 'Ely Daley' graphic */
header img {
    height: 400px;
    width: 100%;
    flex: 0 0.5 500px;
    display: inline-block;
}
/* block of text on homepage only */
.intro{
    flex: 0 0 400px;
    flex-wrap: wrap;
    display: inline-block;
    font-size: 30px;
    line-height: 0.7;
    text-align:justify;
    padding: 0 40px 0 0;
}

/* position and look of 'about' page image only */
#selfie {
    width: 400px;
    display: inline-block;
    border-radius: 30px;
    opacity: 85%;
}

/* floating nav links */
/* parent of homepage links */
.nav-parent {
    margin: 80px 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*position anchors*/
a {
    text-decoration: none; 
    color: var(--primary-color);
    text-align: center;
}
/* sizing link graphics */
.nav-pages img {
    height: 100px;
    width: 100px;
    flex: 0 0 100px;
}
/* turn backwards on hover */
.nav-pages img:hover {
    transform:rotateX(180deg);
}

/* root nav link directed pages layout */
/* header */
.secondary-header {
    font-size: 5rem;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 25px;
}

/* Work display modules */
/* Parent Module for work page*/
.secondary-modules {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
/* parent of a, img, .module-text; child of .secondary-module*/
.module {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}
/* names of the websites */
.module h2 {
    font-size: 75px;
    flex: 0 0 75px;
    font-style: oblique;
    margin: 25px;
}
/* description of websites */
.module-text {
    flex: 0 0.5 500px;
    display: inline-block;
    margin: 10px;
    font-size: 30px;
    line-height: 0.8;
    text-align:justify;
}
/* work website links/ hover animation */
a img {
    flex-grow: 0;
    flex-shrink: 0;
    height: 300px;
    width: 500px;
    display: inline-block;
    border-radius: 30px;
}
.secondary-modules a img:hover {
    transform:rotateY(180deg);
}
/* contact page icons only */
.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 80px auto 200px auto;
}
.icons a img {
    width: 300px;
}

/* media queries for smaller screens */
@media screen and (max-width: 980px) {
    /* adjusting modules on 'about' and 'work' pages into columns */
    .secondary-modules {
        align-items: center;
        flex-direction: column;
    }
    .module{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header img{
        flex: 0 0 100px;
        flex-direction: column;
        justify-content: center;
        display: block;
        text-align: center;
    }
    /* styling 'work' 'about' page's column */
    .secondary-modules h2{
        width: 100%;
        text-align: center;
        margin: 5px auto;
    }
    .module img {
        margin: 25px auto;
        width: 100%;
        align-self: center;
    }
    #selfie{
        width: 60%;
    }
    .module-text {
        width: 60%;
        flex: 0 0 100px;
        text-align:center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 1;
        margin: auto auto;
        border-bottom: 3px solid var(--neutral);
    }
    /* styling icons on 'contact page */ 
    .icons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icons a{
        margin: 20px auto;
    }
}

@media screen and (max-width: 768px) {
    /* centering homepage 'Ely Daley' graphic */
    .head-img{
        width: 100%;
        text-align: center;
    }
    /* remove intro from homepage, was too awkward */
    .intro {
        display:none;
    }

}
@media screen and (max-width: 575px) {
    /* re-arrange homepage as nav links lost integrity as a row
        but did not look great above 'ED' graphic */
    .front-page{
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        justify-content: center;
        width:fit-content;
    }
    /* needs margins removed to stay centered */
    .nav-parent{
        flex-direction: column;
        margin: 0;
    }
}