:root {
    --primary-color: rgba(75, 2, 75);
    --secondary-color: rgb(15, 85, 78);
    --tertiary-color: rgb(170, 81, 122);
    --neutral: rgb(250, 245, 230);
    
}

/* remove default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* default text/background color / font */
body {
    color: var(--primary-color);
    background-image: radial-gradient(ellipse,  rgb(237, 221, 241), var(--neutral));
    font-family: Times, "Times New Roman", Georgia, serif;
}

/*background sphere*/
.circle {
    margin: 5rem 5rem;
    height: 30rem;
    width: 30rem;
    background: radial-gradient(circle, var(--neutral) 9%, var(--secondary-color) 90%);
    border-radius: 50%;
    position: fixed;
    z-index: -1;
    filter: grayscale(20%);
}

/* header and intro blurb */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    background: none;
    margin: 30px 0 200px 20px;
    padding: 80px 0;
}
header img {
    height: 400px;
    width: 500px;
    flex: 0 0.5 500px;
    display: inline-block;
}

.intro{
    flex: 0 0 400px;
    flex-wrap: wrap;
    display: inline-block;
    font-size: 30px;
    line-height: 0.7;
    text-align:justify;
    padding: 0 40px 0 0;
}

/* position and look of 'about' page image */
.secondary-modules img {
    width: 400px;
    display: inline-block;
    border-radius: 15%;
    opacity: 85%;
}

/* floating nav links */
.nav-parent {
    margin: 80px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-pages {
    flex: 0 .5 70px;
    font-style:oblique;
    text-align: center;
    font-size: 60px;
}
.nav-pages img {
    height: 100px;
    width: 100px;
    flex: 0 0 100px;
}
.nav-pages img:hover {
    transform:rotateX(180deg);
}
.nav-pages a p:hover {
    opacity: 0;
}

a {
    text-decoration: none; 
    color: var(--primary-color);
}

    /* root navigation pages layout */
    /* header */
.secondary-headers {
    font-size: 5rem;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 25px;
}

    /* Work display modules */
.secondary-modules {
    display: flex;
    align-items: flex-start;
}
.secondary-modules h2 {
    font-size: 75px;
    flex: 0 0 75px;
    font-style: oblique;
    margin: 25px;
}

.module {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.module h2 {
    line-height: .7;
}
.secondary-modules iframe {
    flex-grow: 0;
    flex-shrink: 0;
    height: 300px;
    width: 500px;
    border: 3px solid var(--secondary-color);
    box-shadow: -1px -1px 3px rgb(15 85 78 / 70%);
    display: inline-block;
}

.module-text {
    flex: 0 0 400px;
    display: inline-block;
    margin: 10px;
}
.module-text p {
    font-size: 30px;
    line-height: 0.7;
    text-align:justify;
    padding: 0 40px 0 0;
}




